* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4ea;
}

.navbar {
    background-color: #333;
    padding: 1rem;
}

.titulo {
    margin: 1rem 0;
    padding: 2rem; 
}

.titulo h2{
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 20px;
}

.navbar a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffd700;
}

main {
    /* padding: 2rem;
    max-width: 1200px; Deixaria esses dois se não quiséssemos que ocupasse toda a página*/ 
    margin: 0 auto;
} 
section {
    margin: 2rem 0;
    padding: 2rem; 
}

.conteudo {
    padding: 1rem;
    margin-bottom: 1rem;
}

#sobre {
    display: flex;
}

.info-contato {
    background-color: rgba(0,0,0,0.5);
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.rodape {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

#produtos h2 { /* A # é porque é um identificador*/
    color: white;
    text-align: center;
}

#contato h2 {
    color: white;
}
   
.carousel {
    display: flex;
    overflow: hidden;
    width: 1000px;
    gap: 10px;
    text-align: center;
}

.carousel img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid; /* Esse fez a bordinha em casa imagem */
}